body{
   background-color: #c0bfbf;
}

  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
  }
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text{

    color: #141414;
    overflow: auto;
    resize: both;
}

.hi{
    height: fit-content;
    width: fit-content;
    color: hsl(0, 0%, 6%);
}

img{
    filter:drop-shadow(5px 5px 10px #292929) ;
    margin-left: 30%;
  height: min-content;
}

.of{
    
    box-shadow: 5px 1px 10px #555;
}